<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load staticfiles%}
    <link href="https://cdn.bootcss.com/semantic-ui/2.2.11/semantic.min.css" rel="stylesheet">
    <!-- <link href="{% static 'css/font-awesome.min.css'%}" rel="stylesheet"> -->
    <!-- <script src="https://use.fontawesome.com/c65bf87d98.js"></script> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/c65bf87d98.css">

    <!-- <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.0.min.js"></script> -->

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/semantic-ui/2.2.11/semantic.min.js"></script>
    <script src="{% static 'js/notalong.js' %}"></script>
    <title>{%block title%} basic{% endblock %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/c65bf87d98.css">
  </head>
  <body>
    {%block content%}{%endblock%}
    <div class="ui mini modal">
      <div class="ui container segment">
        <form class="ui form" action="{% url 'oneword:changepwd' %}" method="post">
          {{form.as_p}}
          <div class="ui divider">
          </div>
          <button type="button" class="ui primary button" name="button">
            <i class="fa fa-key"></i>
            Confirm
          </button>
        </form>
      </div>

    </div>
  </body>
</html>
