<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <!-- <link rel="icon" sizes="128x128" href="https://ssl.gstatic.com/keep/icon_128.png"> -->
    <link href="{% static 'css/semantic.min.css'%}" rel="stylesheet">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/semantic.min.js'%}"></script>
    <script src="{% static 'js/notalong.js' %}"></script>
    <script src="{% static 'js/search.js' %}"></script>
    <script src="{% static 'js/formverify.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.goup.min.js' %}"></script>
    <title>Simple story</title>

    <style media="screen">
      .title_error{
        color: red;
      }
    </style>
  </head>
  <body>
    <!-- 导航栏 -->
    <div class="ui borderless attached stackable  menu">
      <div class="ui container ">
        <a class="active item" href="{% url 'home' %}">
          Home
        </a>
        <!-- <a class="item">
          Newest
        </a> -->
        <a class=" item" href="{% url 'popular' %}">
          Popular
        </a>
        <div class="right menu">
          <div class="item">

            <button class="ui button" type="button" name="button" id="create">
              <i class="write icon"></i>
                Create

              <!-- <i class="write icon"> -->
              <!-- </i> -->
            </button>
          </div>
          {% if user.is_authenticated %}
          <a class="ui item " id="login_user" href="{% url 'profiles'%}">
            <i class="user icon"></i>
            {{user.username |upper}}
          </a>
          {%endif%}
          <!-- <div class="ui compact menu"> -->

          <div class="item">
            <div class="ui search">
              <div class="ui icon input">
                <input class="prompt" type="text" placeholder="Search title or author...">
                <i class="search icon"></i>
              </div>
            </div>
          </div>
          {%if user.is_authenticated %}
          <a class="item button" href="{% url 'oneword:user_logout' %}" >
            <!-- <button class="ui logout button" type="submit" name="button"> -->
              <i class="sign out icon"></i>
              Logout
            <!-- </button> -->
          </a>
          {%else%}
          <a class="item " href="{% url 'oneword:user_sign' %}" >
            <!-- <button class="ui logout button" type="submit" name="button"> -->
              <i class="sign in icon"></i>
              Log in
            <!-- </button> -->
          </a>
          <a href="{% url 'oneword:user_register' %}" class="ui item ">
            <button class="ui red button">Sign up</button></a>
          {%endif%}
        </div>
      </div>
    </div>

    <!-- 文章主体 -->
    <div class="ui hidden divider  ">

    </div>
    <div class="ui container " id="allarticlekks">
      <!-- <div class="right ui rail">
        <div class="ui sticky" style="left: 1356.5px;">
          <h3 class="ui header">TOP</h3>
          <i class="heart icon"></i>
        </div>
      </div> -->

      <!-- 文章卡片组 -->
      <div class="ui four  doubling stackable cards">
        {% for article in article_info %}

        <!-- 单一文章 -->
        <div class="card">
          <!-- 正文 -->
          <div class="article content" id="{{ article.article.id }}">
            <div class="header" >{{ article.article.title|capfirst}}</div>

            <div class="meta">
              #{{article.article.tag}}|
              {{article.article.create_time|date:"M j, Y" }}
              <span class="right floated">
                <i>{{article.article.author|capfirst}}</i>
              </span>
            </div>
            <div class="description">
              {{ article.article.content | truncatewords:"30" }}
            </div>
          </div>
          <!-- 标签状态 -->
          <div class="extra content" extra_id="{{ article.article.id }}">

            <!-- 判断用户是否登录 -->
            {% if user.is_authenticated %}

              <!-- 判断用户是否已收藏该文章 -->
              {% if collections %}
                {% if article.article.title in collections %}
                <a class="favorite">
                  <i class="heart icon"></i>
                  {{article.article.favorite}}
                </a>
                {% else %}
                  <a class="favorite">
                    <i class="empty heart icon"></i>
                    {{article.article.favorite}}
                  </a>
                {% endif %}
              {% else %}
              <a class="favorite">
                <i class="empty heart icon"></i>
                {{article.article.favorite}}
              </a>
              {% endif %}
            {% else %}
              <a class="favorite">
                <i class="empty heart icon"></i>
                {{article.article.favorite}}
              </a>
            {%endif%}

            <span class="right floated">

              <a >
                <i class="comment icon"></i>
                  {{ article.comments_num }}
              </a>

            </span>
          </div>

          <!-- comments评论区modal -->
          <div article_id="{{article.article.id}}" class="ui tiny modal">
            <div class="header">
              {{article.article.title|capfirst}}
            </div>
            <div class="content">
              <p>{{article.article.content}}</p>
            </div>
            <div class="ui container padded segment">
              <div class="ui comments">
                    {%for i in article.article_comments%}
                    <div class="comment">
                      <a class="avatar">
                        <img src="{%static 'image/elliot.jpg'%}" alt="">
                      </a>
                      <div class="content">
                        <a class="author">{{i.author}}</a>
                        <div class="metadata">
                          <span class="date">{{i.create_time}}</span>
                        </div>
                        <div class="text">
                          {{i.comment}}
                        </div>
                      </div>
                    </div>
                    {%endfor%}
              </div>

              <!-- 添加评论form -->

              <form class="ui reply form" action="/add_comment/" method="post">
                <div class="article_title" style="display:none;">
                  <input type="text" name="article_title" value="{{article.article.title}}">
                </div>
                <div class="field">
                  <textarea name="comment_content"></textarea>
                </div>
                <button class="ui primary submit  add_comment_btn button" type="submit" >
                Add Comment
                </button>
                <div class="ui error message">
                </div>
                {% csrf_token %}
              </form>
            </div>
          </div>

        </div>
        {% endfor %}
      </div>
    </div>


    <!-- 发布新帖 -->
    <div id="create_new" class="ui tiny modal">
      <div class="ui container segment">
          <a name="createnew"></a>
          <h3 class="ui inverted blue centered segment header">CREATE NEW</h3>
          <form class="ui form" action="/create/" method="post">
            <div class="field">
              <label>Title</label>
              <input type="text" name="title" id="article_title" placeholder="input the title" value="">
            </div>
            <div class="title_error">
              <ul>
                <li>This title has been used, use another one</li>
              </ul>
            </div>
            <div class="field">
              <label>Tags</label>
              <input type="text" name="tags" placeholder="input tags" value="">
            </div>
            <div class="field">
              <label>Content</label>
              <textarea name="newcontent" cols="5"></textarea>
              <!-- <input type="text" name="newcontent" placeholder="input you article,less than 140 characters" value=""> -->
            </div>
            <button class="ui submit button " type="submit" id="create_button">Create</button>
            <div class="ui error message">
            </div>
            {% csrf_token %}
          </form>
      </div>
    </div>

    <!-- 无数据搜索提示 -->
    <div class="ui basic  nostring modal">
      <div class="ui icon header">
        <i class="search icon"></i>
        <h4>Input  author, title  or  tag  to  searche</h4>
      </div>
      <div class="actions">
        <div class="ui green centered ok  button">
          <i class="checkmark icon"></i>
          OK
        </div>
      </div>
    </div>

    <!-- 搜索内容为空 -->
    <div class="ui basic  empty modal">
      <div class="ui icon header">
        <i class="frown icon"></i>
        Ops! EMPTY...try other key word
      </div>
      <div class="actions">
        <div class="ui green centered ok  button">
          <i class="checkmark icon"></i>
          OK
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
